{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "yoda": [1, "always"],
    "import/no-extraneous-dependencies": [2, {
      'optionalDependencies': false,
    }],
    "react/no-unused-prop-types": 0,
    "react/forbid-prop-types": 1,
    "jsx-a11y/no-static-element-interactions": 1,
    "react/no-array-index-key": 1,
  },
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
