{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "yoda": [1, "always"],
    "import/no-extraneous-dependencies": [2, {
      'optionalDependencies': false,
    }],
  },
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
