<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"><![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"><![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <% if (htmlWebpackPlugin.files.favicon) { %>
  <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
  <% } %>
</head>
<body>
<% if (htmlWebpackPlugin.options.appMountId) { %>
  <div id="<%= htmlWebpackPlugin.options.appMountId%>" data-app-version="<%= htmlWebpackPlugin.options.version %>"></div>
<% } %>
</body>
</html>
