/*
 * Annotations
 */

.annotation-form {
  input[type="submit"] {
    @include button;
  }

  .remove {
    @include button(
      $background: $alert-color,
      $background-hover: darken($alert-color, 5%)
    );
    margin-left: 0.5rem;
  }

  .action-remove {
    padding: 1rem;
  }
}

.annotation {
  stroke-width: 4;
  stroke-linecap: round;
  opacity: 0.4;

  &.selected,
  &:hover {
    stroke-width: 6;
    opacity: 1;
    cursor: pointer;
  }

  &.inactive {
    opacity: 0;
  }

  .annotation-segment {}
}
