/*
 * Footer component
 */

footer.main {
  padding: 0.5rem 1rem;
  background-color: $dark-yeah;
  color: $white;
  font-family: $footer-font-family;
  font-size: $footer-font-size;

  .credits {
    float: left;
  }

  .version {
    float: right;
    margin-top: 0.1rem;

    .git-ref {
      padding: 0.3rem 0.5rem 0.3rem;
      border-radius: $global-radius;
      background-color: $yeah;
      color: $white;
    }
  }
}
