/*
 * Labels component
 */

ul.annotations {
  list-style: none inside;
  margin-left: 0;

  li.annotation {
    margin-left: 0;

    &.inactive {
      opacity: 0.3;
    }

    &.new {
      margin-top: 1rem;

      .colorpicker-button {
        color: $body-font-color;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }

      .colorpicker-panel {
        position: absolute;
        z-index: 2;
        right: 235px;
        margin-top: -258px;
      }

      .colorpicker-overlay {
        position: fixed;
        background-color: rgba($white, 0.9);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}
