/*
 * Labels component
 */

ul.labels {
  list-style: none inside;
  margin-left: 0;
  line-height: 1.6 !important;

  li {
    margin-left: 0;
    font-size: 1.1rem;

    &:hover {
      .label-tools {
        opacity: 1;
        display: inline-block;
      }
    }

    &.inactive {
      opacity: 0.3;
    }

    .label-form {
      padding: 0.5rem;
      background-color: $grey;
      border-radius: $global-radius;

      .action-buttons {
        @include button-group( '.button' );
        margin-bottom: 0;

        .button {
          margin-bottom: 0 !important;

          &.submit {
            @include button;
            margin-right: 0.5rem;
          }

          &.cancel {
            @include button( $background: darken($grey, 5%), $background-hover: darken($grey, 10%), $color: $body-font-color );
          }
        }
      }
    }

    .colorpicker-button {
      color: darken($grey, 20%);

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    .colorpicker-panel {

      & > div:nth-child(2) {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .colorpicker-overlay {
      position: fixed;
      background-color: rgba($white, 0.9);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &.in-action {
      margin-bottom: 0.5rem;
      border: 1px solid $primary-color;
      border-radius: $global-radius;

      .label-name {
        display: block;
        background-color: $primary-color;
        color: $white !important;
      }

      .label-tools {
        display: none;
      }

      p {
        font-size: 1rem;
        color: lighten($body-font-color, 20%);
      }

      &.remove {
        border: 1px solid $alert-color;

        .label-name {
          background-color: $alert-color;
          max-width: 100%;
        }

        .action-remove {
          display: block;

          button {
            &.remove {
              @include button($background: $alert-color, $background-hover: darken($alert-color, 10%));
              margin-right: 0.5rem;
            }

            &.cancel {
              @include button( $background: $grey, $background-hover: darken($grey, 10%), $color: $body-font-color );
            }
          }
        }
      }
    }

    &.edit {
      border: 0;

      .label-name {
        display: none;
      }
    }

    &.new {
      margin-top: 1rem;
    }

    .label-name {
      display: inline-block;
      max-width: 150px;
      padding-left: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        cursor: pointer;
      }

      & > i {
        margin-right: 0.4rem;
      }
    }

    .label-tools {
      vertical-align: top;
      opacity: 0;
      display: none;
      background-color: $primary-color;
      color: $white;
      padding: 0 0.5rem;
      margin-left: 0.5rem;
      border-radius: $global-radius;
      transition: all 0.3s;

      i {
        opacity: 0.6;

        &:not(:last-child) {
          margin-right: 1rem;
        }

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }

    .action-remove {
      padding: 0.2rem 0.5rem;
      display: none;
    }
  }
}
