/*
 * Labels component
 */

ul.labels {
  list-style: none inside;
  margin-left: 0;

  li {
    margin-left: 0;
    font-size: 1.1rem;

    &:hover {
      .label-tools {
        opacity: 1;
      }
    }

    &.inactive {
      opacity: 0.3;
    }

    .colorpicker-button {
      color: $body-font-color;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    .colorpicker-panel {
      position: absolute;
      z-index: 2;
      right: 235px;
      margin-top: -258px;
    }

    .colorpicker-overlay {
      position: fixed;
      background-color: rgba($white, 0.9);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &.in-action {
      margin-bottom: 0.5rem;
      border: 1px solid $primary-color;
      border-radius: $global-radius;

      .label-name {
        display: block;
        background-color: $primary-color;
        color: $white !important;
      }

      .label-tools {
        display: none;
      }

      p {
        font-size: 1rem;
        color: lighten($body-font-color, 20%);
      }

      .action-buttons {
        @include button-group( 'button' );
        margin-bottom: 0;
      }

      &.remove {
        border: 1px solid $alert-color;

        .label-name {
          background-color: $alert-color;
        }

        .action-remove {
          display: block;

          button {
            &.remove {
              @include button($background: $alert-color, $background-hover: darken($alert-color, 10%));
              margin-right: 0.5rem;
            }

            &.cancel {
              @include button( $background: $grey, $background-hover: darken($grey, 10%), $color: $body-font-color );
            }
          }
        }
      }
    }

    &.new {
      margin-top: 1rem;
    }

    .label-name {
      padding: 0.2rem 0.5rem;

      &:hover {
        cursor: pointer;
      }

      & > i {
        margin-right: 0.4rem;
      }
    }

    .label-tools {
      opacity: 0;
      background-color: $primary-color;
      color: $white;
      padding: 0.2rem 0.5rem;
      margin-left: 0.5rem;
      border-radius: $global-radius;
      transition: all 0.3s;

      i {
        opacity: 0.6;

        &:not(:last-child) {
          margin-right: 1rem;
        }

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }

    .action-remove {
      padding: 0.2rem 0.5rem;
      display: none;
    }
  }
}
