/*
 * Toolbar component
 */

.toolbar {
  overflow-y: scroll;

  & > * {
    padding: 1rem;
  }

  .react-tabs {
    h4 {
      font-size: 1.07rem;
    }

    .ReactTabs__TabList {
      margin-bottom: 1rem;
    }

    [role=tab]:focus {
      box-shadow: none;
      border-color: #aaa;
    }
  }
}
